---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/solidusio/solidus/pulls?page=1&per_page=1&state=open
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token 112a4dd37f7dc5265a820e13478da9e3c0cb03d3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1526332917'
      Etag:
      - '"e17e500dcfb2148bbc7df0f669bac082"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/30985840/pulls?state=open&page=2&per_page=1>;
        rel="next", <https://api.github.com/repositories/30985840/pulls?state=open&page=51&per_page=1>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/solidusio/solidus/pulls/2734","id":187810061,"html_url":"https://github.com/solidusio/solidus/pull/2734","diff_url":"https://github.com/solidusio/solidus/pull/2734.diff","patch_url":"https://github.com/solidusio/solidus/pull/2734.patch","issue_url":"https://api.github.com/repos/solidusio/solidus/issues/2734","number":2734,"state":"open","locked":false,"title":"Require
        sass >= 3.5.2","user":{"login":"gmacdougall","id":764390,"avatar_url":"https://avatars3.githubusercontent.com/u/764390?v=4","gravatar_id":"","url":"https://api.github.com/users/gmacdougall","html_url":"https://github.com/gmacdougall","followers_url":"https://api.github.com/users/gmacdougall/followers","following_url":"https://api.github.com/users/gmacdougall/following{/other_user}","gists_url":"https://api.github.com/users/gmacdougall/gists{/gist_id}","starred_url":"https://api.github.com/users/gmacdougall/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gmacdougall/subscriptions","organizations_url":"https://api.github.com/users/gmacdougall/orgs","repos_url":"https://api.github.com/users/gmacdougall/repos","events_url":"https://api.github.com/users/gmacdougall/events{/privacy}","received_events_url":"https://api.github.com/users/gmacdougall/received_events","type":"User","site_admin":false},"body":"Bootstrap
        4.x requires at least sass 3.5.2.\n\nFor more information see:\nhttps://github.com/twbs/bootstrap-rubygem/pull/122\nhttps://github.com/sass/sass/issues/2383","created_at":"2018-05-14T12:25:07Z","updated_at":"2018-05-14T19:01:19Z","closed_at":null,"merged_at":null,"merge_commit_sha":"7599b54219fa59d60fc41d68918eacb0a0fd86c0","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/solidusio/solidus/pulls/2734/commits","review_comments_url":"https://api.github.com/repos/solidusio/solidus/pulls/2734/comments","review_comment_url":"https://api.github.com/repos/solidusio/solidus/pulls/comments{/number}","comments_url":"https://api.github.com/repos/solidusio/solidus/issues/2734/comments","statuses_url":"https://api.github.com/repos/solidusio/solidus/statuses/b8ce8be54eabbd3fb991e64c735ffa071e483462","head":{"label":"gmacdougall:require-sass-3.5.2","ref":"require-sass-3.5.2","sha":"b8ce8be54eabbd3fb991e64c735ffa071e483462","user":{"login":"gmacdougall","id":764390,"avatar_url":"https://avatars3.githubusercontent.com/u/764390?v=4","gravatar_id":"","url":"https://api.github.com/users/gmacdougall","html_url":"https://github.com/gmacdougall","followers_url":"https://api.github.com/users/gmacdougall/followers","following_url":"https://api.github.com/users/gmacdougall/following{/other_user}","gists_url":"https://api.github.com/users/gmacdougall/gists{/gist_id}","starred_url":"https://api.github.com/users/gmacdougall/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gmacdougall/subscriptions","organizations_url":"https://api.github.com/users/gmacdougall/orgs","repos_url":"https://api.github.com/users/gmacdougall/repos","events_url":"https://api.github.com/users/gmacdougall/events{/privacy}","received_events_url":"https://api.github.com/users/gmacdougall/received_events","type":"User","site_admin":false},"repo":{"id":38312108,"name":"solidus","full_name":"gmacdougall/solidus","owner":{"login":"gmacdougall","id":764390,"avatar_url":"https://avatars3.githubusercontent.com/u/764390?v=4","gravatar_id":"","url":"https://api.github.com/users/gmacdougall","html_url":"https://github.com/gmacdougall","followers_url":"https://api.github.com/users/gmacdougall/followers","following_url":"https://api.github.com/users/gmacdougall/following{/other_user}","gists_url":"https://api.github.com/users/gmacdougall/gists{/gist_id}","starred_url":"https://api.github.com/users/gmacdougall/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gmacdougall/subscriptions","organizations_url":"https://api.github.com/users/gmacdougall/orgs","repos_url":"https://api.github.com/users/gmacdougall/repos","events_url":"https://api.github.com/users/gmacdougall/events{/privacy}","received_events_url":"https://api.github.com/users/gmacdougall/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/gmacdougall/solidus","description":"Solidus
        e-commerce system","fork":true,"url":"https://api.github.com/repos/gmacdougall/solidus","forks_url":"https://api.github.com/repos/gmacdougall/solidus/forks","keys_url":"https://api.github.com/repos/gmacdougall/solidus/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gmacdougall/solidus/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gmacdougall/solidus/teams","hooks_url":"https://api.github.com/repos/gmacdougall/solidus/hooks","issue_events_url":"https://api.github.com/repos/gmacdougall/solidus/issues/events{/number}","events_url":"https://api.github.com/repos/gmacdougall/solidus/events","assignees_url":"https://api.github.com/repos/gmacdougall/solidus/assignees{/user}","branches_url":"https://api.github.com/repos/gmacdougall/solidus/branches{/branch}","tags_url":"https://api.github.com/repos/gmacdougall/solidus/tags","blobs_url":"https://api.github.com/repos/gmacdougall/solidus/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gmacdougall/solidus/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gmacdougall/solidus/git/refs{/sha}","trees_url":"https://api.github.com/repos/gmacdougall/solidus/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gmacdougall/solidus/statuses/{sha}","languages_url":"https://api.github.com/repos/gmacdougall/solidus/languages","stargazers_url":"https://api.github.com/repos/gmacdougall/solidus/stargazers","contributors_url":"https://api.github.com/repos/gmacdougall/solidus/contributors","subscribers_url":"https://api.github.com/repos/gmacdougall/solidus/subscribers","subscription_url":"https://api.github.com/repos/gmacdougall/solidus/subscription","commits_url":"https://api.github.com/repos/gmacdougall/solidus/commits{/sha}","git_commits_url":"https://api.github.com/repos/gmacdougall/solidus/git/commits{/sha}","comments_url":"https://api.github.com/repos/gmacdougall/solidus/comments{/number}","issue_comment_url":"https://api.github.com/repos/gmacdougall/solidus/issues/comments{/number}","contents_url":"https://api.github.com/repos/gmacdougall/solidus/contents/{+path}","compare_url":"https://api.github.com/repos/gmacdougall/solidus/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gmacdougall/solidus/merges","archive_url":"https://api.github.com/repos/gmacdougall/solidus/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gmacdougall/solidus/downloads","issues_url":"https://api.github.com/repos/gmacdougall/solidus/issues{/number}","pulls_url":"https://api.github.com/repos/gmacdougall/solidus/pulls{/number}","milestones_url":"https://api.github.com/repos/gmacdougall/solidus/milestones{/number}","notifications_url":"https://api.github.com/repos/gmacdougall/solidus/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gmacdougall/solidus/labels{/name}","releases_url":"https://api.github.com/repos/gmacdougall/solidus/releases{/id}","deployments_url":"https://api.github.com/repos/gmacdougall/solidus/deployments","created_at":"2015-06-30T13:54:31Z","updated_at":"2015-06-30T13:55:19Z","pushed_at":"2018-05-14T12:24:56Z","git_url":"git://github.com/gmacdougall/solidus.git","ssh_url":"git@github.com:gmacdougall/solidus.git","clone_url":"https://github.com/gmacdougall/solidus.git","svn_url":"https://github.com/gmacdougall/solidus","homepage":"","size":73162,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":{"key":"other","name":"Other","spdx_id":null,"url":null},"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"solidusio:master","ref":"master","sha":"014a875cea9b134bea45f76c676b463fa90a9fce","user":{"login":"solidusio","id":11045486,"avatar_url":"https://avatars1.githubusercontent.com/u/11045486?v=4","gravatar_id":"","url":"https://api.github.com/users/solidusio","html_url":"https://github.com/solidusio","followers_url":"https://api.github.com/users/solidusio/followers","following_url":"https://api.github.com/users/solidusio/following{/other_user}","gists_url":"https://api.github.com/users/so[...]
